<header>
    <h1>RUCA JobBoard</h1>
    <nav>
      <a href="/">Accueil</a>
      <a href="/connexion">Connexion</a>
      <a href="/inscription">Inscription</a>
      <a href="/home">Home</a>
    </nav>
  </header>
  