<!DOCTYPE html>
<html lang="fr">
  <link rel="stylesheet" href="css/home01.css">
  <%- include('../partials/head', { title: 'Accueil - JobBoard' }) %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h1>Bienvenue sur Ruca JobBoard</h1>
      <p>Trouvez le job de vos rêves !</p>
      <a href="/connexion" class="btn">Se connecter</a>
      <a href="/inscription" class="btn">Créer un compte</a>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
